[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"

[packages]
django = "*"
djangorestframework = "*"
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
